@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap%27');

 * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Open Sans', sans-serif;    
  }
header{
 background-image: url(Header/Star\ Wars\ 1.png);
 background-repeat: no-repeat;
width:100%;
height: 100%;
}
.kylo{
    position: relative;
    margin-left:10vw;
    bottom: 17vh;
  
}
.star1{
    position: relative;
    top:48vh;
    left: 20vw;
   
    width: 300px;
}
.wars2{
    position:absolute;
    left: 140vh;
    top: 21.8vw;
  

}
.Crie{
    position: relative;
    padding-left: 79vw;
   bottom: 53vh;
   
}
.card{
    position: relative;
    bottom: 35vw;
    z-index: 2;
    left: 15vw;
    width: 21vw;
 
}
h2{
    position: relative;
    color:rgb(35, 34, 34);
    font-family:"Open Sans";
    font-size: 40px;
    font-weight: 500;
    width:45%;
    bottom: 55vh;
    left:12vh;
    color: white;
}

.Baixe{
    position: relative;
    width: 80%;
    font-family:"Open Sans";
    font-weight: 340;
    font-size: 19px;
    bottom: 43vh;
    left: 3vh;
    color: white;    
}
.download{
    position: absolute;
    z-index: 2;
    left: 6.5vw;
    top: 53vh;
    padding: 9px 25px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 4px;
    color: white;
}
a:hover{
    text-decoration: none;
    color:white
}
.battle{
    position: relative;
    width: 900px;
    height: 400px;
    bottom: 122.5vw;
    left: 95vh;
}
.sobre{
    position: relative;
    width: 60%;
    color: black;
    top: 1vw;
    right: 8vh;
    font-size: 43px;
    font-family: 'Cabin', sans-serif;
    }
 .linha{
    position: relative;
    border: solid 2px rgb(0, 0, 0);
    top: 1vw;
    width: 250px;
    left: 7.7vw;
    }
.battle p{
    position: relative;
    top: 6vh;
    width: 44%;
    text-align: right;
    font-weight: 600;
}
.battle2{
    display: flex;
    position: absolute;
    left: 47vh;
   bottom: 6.6vw;
   flex-direction: row-reverse;
   align-items: flex-end;
}
.imagem-lado{
    position: relative;
    bottom: 70vw;
}
.imagem-lado img{
    width: 35vw;
}
.linha2{
    position: relative;
    bottom: 127.2vw;
    border: 2px solid #707070; 
    height: 1px;
    width: 74.5vw;
    left:14vw;
}
.estrutura{
    display: flex;
    position: relative;
    bottom: 124vw;
}

.estrutura .menu{
    display: flex;
  height: 24vw;
  width: 44vh;
  
}
.estrutura .menu nav {
    width: 400px;
    height: 500px;
}
.estrutura .lord{
   width: 100%;
    margin-left: 5vw;
    bottom: 50px;
   
}
.estrutura h2{
    color: black;
    position: relative;
    top: 1vw;
   height: 50%;
   width: 40%;
   font-weight: 600;
   font-size: 50px;
   text-align-last: end;
}
span {
    font-family: 'Staatliches', cursive;
    font-size: 50px;
}
.estrutura .menu2 li{
    position: relative;
    width: 120%;
     right: 39vh;
     top: 10vw;
    align-items: center;
    list-style: none;
    font-size: 29px;
    text-align: right;
    font-weight: 200;
}
.estrutura figure img{
    position: relative;
    width: 350px;
    right: 12vw;
    top:3vw
  
}
.menu2 li:hover{
    background-color: #D74430;
    cursor:pointer;
}