@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap%27");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
header {
  background-image: url(Header/Star\ Wars\ 1.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.kylo2{
  position: relative;
  margin-left: 10vw;
  bottom: 17vh;
  z-index: 2;
  
}
.star1 {
  position: relative;
  top: 48vh;
  left: 20vw;
  width: 450px;
}
.wars2 {
  position: absolute;
  left: 135vh;
  top: 23vw;
}
.Crie {
  position: relative;
  padding-left: 79vw;
  bottom: 53vh;
}
.card{
  position: relative;
  bottom: 34vw;
  z-index: 2;
  left: 15vw;
  width: 21vw;
}
h2 {
  position: relative;
  color: rgb(35, 34, 34);
  font-family: "Open Sans";
  font-size: 40px;
  font-weight: 500;
  width: 45%;
  bottom: 55vh;
  left: 12vh;
  color: white;
}
.comece{
  position: absolute;
  display: flex;
  margin-left: 14vw;
  top: 80vh;
  color: white;
  z-index: 2;
  width: 10%;
  height: 12%;
}
.Baixe {
  position: absolute;
  width: 18%;
  font-family: "Open Sans";
  font-weight: 340;
  font-size: 19px;
  top: 105vh;
  right: 65%;
  color: white;
  border: solid rgb(204, 12, 12);
  z-index: 4;
}
.download {
  position: absolute;
  z-index: 2;
  left: 22vw;
  top: 126vh; 
  padding: 9px 25px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 4px;
  color: white;
}
a:hover {
  text-decoration: none;
  color: white;
}
.battle {
  position: relative;
  width: 900px;
  height: 400px;
  bottom: 122.5vw;
  left: 95vh;
}
.sobre {
  position: relative;
  width: 60%;
  color: black;
  top: 1vw;
  right: 8vh;
  font-size: 43px;
  font-family: "Cabin", sans-serif;
}
.linha {
  position: relative;
  border: solid 2px rgb(0, 0, 0);
  top: 1vw;
  width: 250px;
  left: 7.7vw;
}
.battle p {
  position: relative;
  top: 2vh;
  width: 44%;
  text-align: right;
  font-weight: 600;
}
.battle .star1{
  position: absolute;
  display: flex;
  margin-top: 4vw;
  border: solid red;
  left:1vw;
}
.battle2 {
  display: flex;
  position: absolute;
  left: 47vh;
  bottom: 6.6vw;
  flex-direction: row-reverse;
  align-items: flex-end;
}
.imagem-lado {
  position: relative;
  bottom: 60vw;
}
.imagem-lado img {
  width: 41vw;
}
.linha2 {
  position: relative;
  bottom: 127.2vw;
  border: 2px solid #707070;
  height: 1px;
  width: 74.5vw;
  left: 14vw;
}
.estrutura {
  display: flex;
  position: relative;
  bottom: 124vw;
}

.estrutura .menu {
  display: flex;
  height: 24vw;
  width: 44vh;
}
.estrutura .menu nav {
  width: 400px;
  height: 500px;
}
.estrutura .lord {
  position: relative;
  width: 100%;
  margin-left: 12vw;
  margin-top: 7vh;
  z-index: 1;
}
.estrutura h2 {
  color: black;
  position: relative;
  top: 1vw;
  height: 50%;
  width: 40%;
  font-weight: 600;
  font-size: 50px;
  text-align-last: end;
}
span {
  font-family: "Staatliches", cursive;
  font-size: 50px;
}
.estrutura .menu2 li {
  position: relative;
  width: 120%;
  right: 39vh;
  top: 10vw;
  align-items: center;
  list-style: none;
  font-size: 29px;
  text-align: right;
  font-weight: 200;
}
.estrutura figure img {
  position: relative;
  width: 350px;
  right: 12vw;
  top: 3vw;
  z-index: 4;
}
.menu2 li:hover {
  background-color: #d74430;
  cursor: pointer;
}
main {
  position: absolute;
  background: #2d2d2d;
  border: solid red;
  top: 217vh;
  height: 229vw;
  width: 100%;
}
main h3 {
  position: absolute;
  color: white;
  top: 3%;
  right: 75%;
  border: solid;
  font-size: 45px;
  font-weight: 800;
}
main .atributos {
  display: flex;
  position: absolute;
  width: 87.1%;
  height: 70vh;
  top: 32vh;
  left: 6vw;
}
.forca {
  border: solid seagreen;
  width: 50%;
}
.animation img {
  height: 250px;
}
.animation {
  display: flex;
  flex-wrap: wrap;
  border: solid pink;
  height: 54vh;
  width: 60%;
}
.animation .força img {
  height: 100%;
}
.storm{
position: absolute;
top: 93vh;
left: 12.5vh;
}
.att{
  position: absolute;
  border: solid rosybrown;
 height: 250px;
width: 350px;
background-color: red;
display: flex;
flex-direction: column;
justify-content: space-around;
left: 55vh;
opacity: 0;
transition: 1s;

}
.bordacima{
    border-top:3px solid white;
    border-left:3px solid white;
    margin:1vh 0 1 1vw;
    width: 5vw;
    height: 5vh;
}

.bordabaixo{
  position: absolute;
  left: 65%;
  bottom: 4%;
  border-bottom:3px solid white;
  border-right:3px solid white;
  margin:1vh 0 0 1vw;
  width: 5vw;
  height: 5vh;
}
.att:hover{
  opacity: 1;
}

 @media only screen and (max-width: 500px) {
  header {
    background-image: url(Header/Star\ Wars\ 1.png);
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    border: solid pink;
    width: 500px;
  }
  .star1{
    border: solid salmon;
    position: relative;
    display: flex;
    width: 25%;
    top: 12vh;
    left: 12vw;
  }
  .wars2{
    border: solid yellow;
    display: flex;
    position: absolute;
    left:55vw;
    top: 12vh;
    width: 27%;
  }
  .kylo2{
    border: solid green;
    position: relative;
    right:0vw;
    bottom: 3vh;
    width: 55%;
  } 
  .Crie{
    position: absolute;
    width: 50%;
    height: 79px;
    border: solid red;
    top: 19vh;
    z-index:1;
    right: 16vw;
  }
  .Crie img{
 position: relative;
 right:10vw;
width: 50px;


  }
  .card img{
    position: relative;
    top: 18vh;
    margin-left: 18vw;
    width: 250px;
    height: 300px;
  }
  .comece{
    color: white;
    position: absolute;
    border: solid gold;
    top:33vh;
    width: 29%;
    font-size: 28px;
    left: 30vw;
    font-weight: 700;
  }
  .imagem-lado{
    position: absolute;
    bottom: 31vh;
    width: 300px;
    height: 350px;
    border: solid slateblue;
  }
  .imagem-lado img{
    width: 250px;
  }
  .Baixe{
    border: solid rgb(212, 255, 0);
    position: absolute;
    color: white;
    border: solid yellow;
    width: 40%;
    font-size: 15px;
    top:47vh;
    font-weight: 100;
    left: 39vw;
  }
  .download{
    position: absolute;
    height: 35px;
    top: 60vh;
    margin-left: 20vw;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 4px;
    color: white;
  }
 .battle{
   position: relative;
   height: 300px;
   width: 500px;
    border: solid rgb(10, 9, 9);
    top: 13vh;
   left:0vw;
  }
  .battle p{
    font-size: 14px;

  }
  .battle2 img{
    position: relative;
    width:250px;
    bottom: 30.5vh;
    right:40vw;
    border: solid pink;
  } 
   .battle .sobre{
     margin-top:4vh;
    font-weight: 800;
    margin-left: 40vw;
    font-size: 17px;   
  }
  .battle .linha{
    margin-top: 2px;
    width: 30%;
    margin-left: 46vw;
    border: solid 1px 1 1 1px;
  }
  .battle .star1{
    width: 65.3%;
    margin-left: 18vw;
    margin-top: 7vh;
  }
  
  .linha2{
    position: absolute;
    top: 112vh;
    margin-left: -47px;
    width: 400px;
  }
  }
   .estrutura .estrutura2{
    width: 50%;
    font-size: 32px;
    margin-top: 84vh;
    border: solid red ;
    font-weight: 700;
    margin-right: 1vw;
  } 
  span{
    font-size: 32px;
    font-weight: bold;
  }
  .estrutura .menu ul{
    position: relative;
    margin-top: 90vh;
    margin-left: 8vw;
    width: 58%;
  }
  .estrutura .menu li{
 font-size: 14px;
 font-weight: 300;
  }
  .estrutura .lord{
    margin-top: 85vh;
    margin-left: 1vw;
    width: 150px;
    height: 200px;
    border: solid salmon;
  }

















}