@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap%27);

 * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Open Sans', sans-serif;
  }
header{
  
 background-image: url(Header/Star\ Wars\ 1.png);
 background-repeat: no-repeat;
 border: solid red;
 
}
.kylo{
    position: relative;
    margin-left:10vw;
    bottom: 13vh;
}
.star1{
    position: relative;
    top:48vh;
    left: 20vw;
    border: solid red;
    width: 600px;
}
.wars2{
    position:absolute;
    left: 135vh;
    top: 23.8vw;
    border: solid pink;

}
.Crie{
    position: relative;
    padding-left: 79vw;
   bottom: 53vh;
}
.card{
    position: relative;
    bottom: 30vw;
    z-index: 2;
    left: 10vw;
 
}
h2{
    position: relative;
    color:rgb(35, 34, 34);
    font-family:"Open Sans";
    font-size: 50px;
    font-weight: 500;
    width:13%;
    bottom: 55vh;
    left:9vh;
    color: white;
  
}
.Baixe{
    position: relative;
    width: 19%;
    font-family:"Open Sans";
    font-weight: 300;
    font-size: 19px;
    bottom: 47vh;
    left: 3vh;
    color: white;    
}
.download{
    position: absolute;
    z-index: 2;
    left: 6.5vw;
    top: 50vh;
    padding: 9px 25px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 4px;
    color: white;
}